*{
    padding: 0;
    margin: 0:
}
nav{
    background-color: black;
    color: white;
    padding:15px;
}
li,h1,ul{
    display: inline;
}
ul{
    margin-left: 60%;
}
li{
    color: grey;
    cursor: pointer;
}
li:hover{
    color: white;
}
input{
    width:60%;
    padding:15px;
}
.searchbar{
    margin: 50px;
    text-align: center;
}
.box{
    border-style: solid;
    border-color: black;
    border-width: 2px;
    display: inline-block;
    width: 150px;
    margin-right: 20px;
}
.product{
    text-align: center;
    cursor: pointer;
}
.box:hover{
    color: white;
    background-color: black;
}
.about{
    margin-top: 20px;
    text-align: center;
}

.contact{
    text-align: center;
    background-color: black;
    color: blanchedalmond
}